<% if current_user == @task.user %>
  <h1>id: <%= @task.id %></h1>

  <p>task： <%= @task.content %></p>
  <p>status： <%= @task.status %></p>

  <%= link_to 'Tasklist', root_path %><br>
  <%= link_to 'Edit', edit_task_path(@task) %><br>
  <%= link_to 'delete', @task, method: :delete, data: { confirm: 'You sure?' } %>
  
<% else %>
  unable to show task<br>
  <%= link_to 'Tasklist', root_path %>  
<% end %>